body{
	display: flex;
	justify-content: center;
}
.header img{
	width: 600px;
}
.navbar {
	position: absolute;
	top: 140px;
	z-index: 2;
	display: flex;
	justify-content: space-around;
	width: 600px;
}
.navbar div{
	margin: 20px;
}

.link{
	font-family: "Chaparral Pro";
	color: #EAEAEA;
	text-decoration: none;
	float: right;
/*	margin-left: 20px;*/
}

.link:hover .staple{
	display: block;
}

.link:visited .staple{
	display: block;

}
.staple {
	position: absolute;
	top: 50px;
	width: 70;
	display: none;
}

.pack{
	position: absolute;
	top: 240px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.pack div{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 200px;
}

.icon img{
	height: 120%;
}

.icon img:hover{
	height: 200%;
	z-index: 1;
}

#plastic {
	position: absolute;
	top: 215px;
	width: 600px;
}

#notebook{
	position: absolute;
	top: 400px;
	left: 35vw;
	width: 500px;
}

#notebook:hover{
	z-index: 1;
}